.window {
    position: relative;
    width: fit-content;
    margin: 0 10px 20px 10px;
    min-width: 280px;
    height: auto;
}

.window_header {
    position: relative;
    min-height: 32px;
    min-width: 280px;
    border-radius: 8px 8px 0 0;
    background: linear-gradient(#242424 60%, #343434);
    border: 1px solid var(--color_grey);
    overflow: hidden;
}

.window_header span {
    position: relative;
    width: 20px;
    height: 20px;
    align-self: center;
    margin: 0 8px 0 8px;
    opacity: 0.8;
}

.window_header span .m_diamond:nth-child(1) {
    position: absolute;
    height: 8px;
    width: 8px;
    background: var(--color_green_grey);
    top: calc(50% - 4px);
    transform: rotate(45deg);
}

.window_header span .m_diamond:nth-child(2) {
    position: absolute;
    height: 5px;
    width: 5px;
    background: var(--color_green);
    top: calc(50% - 8px);
    left: 8px;
    transform: rotate(45deg);
}

.window_header span .m_diamond:nth-child(3) {
    position: absolute;
    height: 5px;
    width: 5px;
    background: var(--color_green);
    bottom: calc(50% - 8px);
    left: 8px;
    transform: rotate(45deg);
}

.window_header .window_utilities {
    position: absolute;
    right: 0;
    align-self: center;
    justify-self: flex end;
    width: fit-content;
    height: 100%;
}

.window_utilities .icon {
    position: relative;
    color: var(--color_grey);
    width: 36px;
    height: 100%;
    font-size: 12px;
}

.window_utilities .icon:hover { 
    cursor: pointer;
    transition: 0.3s;
    background: var(--color_green_opacity);
}

.window_header h2 {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var(--color_white);
    align-self: center;
}

.window_content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-left: 1px solid var(--color_grey);
    border-right: 1px solid var(--color_grey);
    border-bottom: 1px solid var(--color_grey);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}

.none {
    display: none;
    width: 300px;
}

.full {
    display: flex;
    width: fit-content;
}