.login_spacer {
    position: relative;
    width: 340px;
    height: fit-content;
    background: var(--color_black);
}

.login_input {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-bottom: 14px;
}

.login_input input {
    position: relative;
    padding: 3px 12px;
    border: 1px solid var(--color_white);
    outline: none;
    height: 30px;
    width: 200px;
    background: var(--color_black);
    color: var(--color_white);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    border-radius: 6px;
}

.border {
    position: absolute;
    box-sizing: border-box;
    border-top: 1px solid var(--color_white);
    overflow: hidden;
}

.border_overlay {
    position: absolute;
    left: 10px;
    top: 0;
    height: 1px;
    width: 200px;
    background: var(--color_black);
    z-index: 2;
}

.border_top_left {
    top: 0;
    left: 0;
    height: 1px;
    width: calc(50%);
}

.border_top_right {
    top: 0;
    right: 0;
    height: 1px;
    width: calc(50%);
}

.login_input_placeholder {
    position: absolute;
    color: var(--color_white);
    opacity: 1;
    z-index: 9;
    font-size: 12px;
    font-weight: bold;
    pointer-events: none;
    left: 14px;
}

.login_logo_spacer {
    position: relative;
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
    pointer-events: none;
}

.login_logo_main {
    position: relative;
    width: 60px;
    height: 60px;
    opacity: 0.14;
    transform: scale(5);
    left: 120px;
    top: 40px;
    filter: blur(1.4px);
}

.diamond { 
    position: absolute; 
    transform: rotate(45deg);
}

.diamond_large { width: 20px; height: 20px; background: var(--color_green); }
.diamond_small { width: 12px; height: 12px; background: var(--color_green_grey); }

.diamond:nth-child(1) { top: 20px; left: 2px; }
.diamond:nth-child(2) { top: 20px; right: 2px; }
.diamond:nth-child(3) { top: 12px; }
.diamond:nth-child(4) { top: 36px; }

/* Animation coords */

/* .button_overlay:nth-child(1) { background: red; }
.button_overlay:nth-child(2) { background: blue; }
.button_overlay:nth-child(3) { background: green; }
.button_overlay:nth-child(4) { background: yellow; } */

/* .button_overlay:nth-child(1) { top: -2px; right: 50%; }
.button_overlay:nth-child(2) { top: -2px; right: -2px; }
.button_overlay:nth-child(3) { top: calc(50%); right: 50%; }
.button_overlay:nth-child(4) { top: calc(50%); right: -2px; } */