.terminal_spacer {
    position: relative;
    width: 480px;
    height: 280px;
    background: var(--color_black);
}

.terminal_input {
    position: relative;
    margin-left: 10px;
    font-family: monospace;
    align-items: center;
    font-size: 13px;
    color: var(--color_white);
    z-index: 9;
    height: 18px;
}

.terminal_input input {
    position: relative;
    overflow: hidden;
    left: 0;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    background: none;
    color: var(--color_white);
    font-family: monospace;
    font-size: 13px;
    caret-color: transparent;
    width: 0;
    display: inline;
    pointer-events: none;
}

.indicator {
    position: relative;
    width: 12px;
    height: 14px;
    background: var(--color_grey);
}

.indicator:hover {
    cursor: text;
}

.terminal_user span, .terminal_line p span {
    width: 14px;
    color: var(--color_green);
}

.terminal_display {
    position: relative;
    margin: 10px 10px 0 10px;
    width: calc(100% - 20px);
    height: 248px;
    opacity: 0.7;
    font-family: monospace;
    font-size: 13px;
    color: var(--color_white);
    flex-direction: column-reverse;
    overflow: scroll;
}

.terminal_display::-webkit-scrollbar { display: none; }

.terminal_line { min-height: 17px; }

.terminal_green { color: var(--color_green); }
.terminal_gg { color: var(--color_green_grey); }