section #taskbar_spacer {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background: var(--color_white);
    box-sizing: border-box;
    border-top: 1px solid var(--color_grey);
    height: 41px;
}

#taskbar_placer {
    position: relative;
    width: calc(100% - 60px);
    overflow: hidden;
    height: 100%;
    margin-top: 4px;
}

.taskbar_util {
    position: relative;
    width: 30px;
    height: 100%;
    z-index: 5;
}

.taskbar_util:hover {
    background: var(--color_black);
    color: var(--color_green);
    transition: 0.3s;
    opacity: 0.8;
    cursor: pointer;
}

.taskbar_util span {
    font-size: 14px;
    color: var(--color_green_grey);
}

/* #taskbar_prev {
    left: 0;
    top: 0;
}

#taskbar_next {
    right: 0;
    top: 0;
} */