:root {
    --color_green: #19ac5b;
    --color_green_grey: #6b957e;
    --color_black: #242424;
    --color_grey: #d4d4d4;
    --color_white: #f4f4f4;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Poppins";
}

.flex { display: flex; }
.row { flex-direction: row; }
.col { flex-direction: column; }
.center { justify-content: center; align-items: center; }
.wrap { flex-wrap: wrap; }

main {
    position: relative;
    width: 100%;
    height: fit-content;
}

section {
    padding: 20px;
    overflow: hidden;
    height: 100%;
}

a:link, a:hover, a:visited {
    text-decoration: none;
}