.test .utilities {
    position: absolute;
    width: 50px;
    right: 10px;
    top: 10px;
    border: 1px solid #d4d4d4;
}

.test .utilities .util {
    position: relative;
    height: 32px;
    width: 100%;
    font-size: 14px;
    color: var(--color_white);
    background: var(--color_black);
}

.test .utilities .util:hover {
    cursor: pointer;
    transition: 0.3s;
    background: var(--color_green);
}

.test_1 {
    width: 380px;
    height: 240px;
    background: var(--color_black);
    color: var(--color_white);
    font-size: 12px;
}

.test_2 {
    width: 520px;
    height: 320px;
    background: var(--color_green);
    color: var(--color_white);
    font-size: 12px;
}

.test_3 {
    width: 720px;
    height: 400px;
    background: var(--color_green_grey);
    color: var(--color_white);
    font-size: 12px;
}

.test_4 {
    width: 450px;
    height: 220px;
    background: var(--color_grey);
    font-size: 12px;
}

.test_5 {
    width: 630px;
    height: 340px;
    background: var(--color_black);
    color: var(--color_white);
    font-size: 12px;
}