.test_1 {
    width: 380px;
    height: 240px;
    background: var(--color_black);
    color: var(--color_white);
    font-size: 12px;
}

.test_2 {
    width: 520px;
    height: 320px;
    background: var(--color_green);
}

.test_3 {
    width: 720px;
    height: 400px;
    background: var(--color_green_grey);
}

.test_4 {
    width: 450px;
    height: 220px;
    background: var(--color_grey);
}

.test_5 {
    width: 630px;
    height: 340px;
    background: var(--color_black);
}