.pwg_spacer {
    min-width: 300px;
    background: var(--color_black);
    color: var(--color_white);
    font-size: 12px;
    height: fit-content;
}

.pwg_display {
    width: 300px;
    min-height: 34px;
    padding: 10px 20px;
    background: var(--color_black);
    border-bottom: 1px solid var(--color_white);
    box-sizing: border-box;
    margin-bottom: 10px;
}

.pwg_display p {
    font-weight: bold;
    letter-spacing: 1px;
    max-width: 180px;
    line-height: 14px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: none!important;
}

.pwg_input_line p {
    font-weight: bold;
    letter-spacing: 1px;
    width: 120px;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
}

.pwg_display .icon {
    position: absolute;
    font-size: 14px;
    right: 10px;
    height: 100%;
    width: 30px;
    color: var(--color_grey);
}

.pwg_display .icon:hover {
    cursor: pointer;
    color: var(--color_green);
    transition: 0.3s;
}

.pwg_input_line {
    position: relative;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    height: 40px;
}

.pwg_info_line {
    margin: 10px 0;
}

.pwg_info_line p {
    color: var(--color_grey);
    font-size: 12px;
}

.pwg_divider {
    position: absolute;
    border-top: 1px solid var(--color_grey);
    box-sizing: border-box;
    height: 1px;
    width: calc(100% - 80px);
    opacity: 0.4;
    bottom: 0;
}

.pwg_line {
    position: relative;
}

.pwg_text_input {
    margin-top: 10px;
}

.pwg_line_button {
    position: relative;
    margin: 10px;
}